
.cont-personaje{
  font-family: 'Courier New', Courier, monospace;
  background-color: #1c1d39;
  color: #fff;
  width: 300px;
  margin-bottom: 16px;
  padding: 4px;
  border-radius: 4px;
}

.cont-img img{
  border-radius: 2px 2px 0 0;
}

.cont-info{
  width: 95%;
  margin: auto;
}

.name{
  font-size: 1.3rem;
  font-weight: 600;
  border-bottom: 1px solid #fff;
  margin: 0 0 5px 0;
}

span{
  font-size: 0.9rem;
  font-weight: 600;
}



